*,*::before,*::after{
    box-sizing: border-box; 
}

body{
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 2* 1rem);
}

#titulo{
    background-color: darkblue;
    color: white;
    font-family: 'Arial';
    font-size: 60;
    margin: 0;
    padding: 0;
}

.menu{
    background-color: rgba(186, 218, 233, 0.849);
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.menu th{
    padding: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu a{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    font-family: 'Arial';
}

.menu td:hover{
    background-color: rgba(123, 202, 238, 0.849);
}

.menu a:hover{
    color: rgb(78, 78, 155);
}

#titulo-pagina{
    color: darkblue;
    font-family: 'Arial';
    font-size: 40;
    text-align: center;
}

#lista-elementos{
    position: center;
} 

#lista-elementos {
    display: flex;
    justify-content: center;
}

#lista-elementos > table > th{
    border: 5px solid white;
    padding: 5px;
}

#lista-elementos > table > tr{
    background-color: darkblue;
    color: aliceblue;
}

#rodape{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    justify-content: center;
    background-color: darkblue;
}

#rodape > p{
    color: aliceblue;
}

#menu-opcoes{
    display: flex;
    justify-content: center;
}
#menu-opcoes > button{
    background-color: darkblue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
#menu-opcoes > button:hover{
    background-color: rgb(78, 78, 155);
}
#submit{
    background-color: darkblue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
#submit > button:hover{
    background-color: rgb(78, 78, 155);
}
#cancel{
    background-color: darkblue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
#cancel > button:hover{
    background-color: rgb(78, 78, 155);
}

#member{
    display: flex;
    background-color: rgba(186, 218, 233, 0.849);
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}


#error-message{
    color: red;
    font-family: 'Arial';
    font-size: 20;
    text-align: center;
}