*, *::before, *::after{
    box-sizing: border-box; 
}

body{
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 2 * 1rem);
}

#titulo{
    background-color: darkblue;
    color: white;
    font-family: 'Arial';
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.menu{
    background-color: rgba(186, 218, 233, 0.849);
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.menu th{
    padding: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu a{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    font-family: 'Arial';
}

.menu th:hover{
    background-color: rgb(0, 0, 97);
}

.menu th:hover a{
    color: white;
}

#titulo-pagina{
    color: darkblue;
    font-family: 'Arial';
    font-size: 40px;
    text-align: center;
}

#lista-elementos{
    display: flex;
    justify-content: center;
}

#lista-elementos > table > th{
    border: 5px solid white;
    padding: 5px;
}

#lista-elementos > table > tr{
    background-color: darkblue;
    color: aliceblue;
}

#rodape{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    justify-content: center;
    background-color: darkblue;
}

#rodape > p{
    color: aliceblue;
}

#menu-opcoes{
    display: flex;
    justify-content: center;
}

button, input[type=reset], input[type=submit], input[type=button]{
    background-color: darkblue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: rgb(75, 75, 170);
}

input[type=button]#submit:hover{
    background-color: rgb(0, 124, 66);
}

input[type=button]#cancel:hover{
    background-color: rgb(124, 4, 0);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="text"], input[type="date"], select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgba(186, 218, 233, 0.849);
    font-family: 'Arial';
    font-size: 16px;
    color: darkblue;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, input[type="date"]:focus, select:focus {
    border-color: darkblue;
    box-shadow: 0 0 5px rgba(0, 0, 139, 0.5);
    outline: none;
}

input[type="date"]::placeholder {
    color: #999;
}

input[type="date"]:hover {
    border-color: darkblue;
}

label {
    display: flex;
    justify-content: center;
    font-family: 'Arial';
    font-size: 20px;
}

#error-message {
    color: red;
    font-family: 'Arial';
    font-size: 20px;
    text-align: center;
}